@if (@Context.Session.GetString("isConnected") == "true")
{<!--Connected-->}
@using Microsoft.AspNetCore.Http
    <div class="mb-3 row justify-content-center" id="docuwareURI">
        <label class="col-md-3 control-label">URL Plateforme DocuWare :</label>
        <div class="col-md-6">
            <input type="url" class="form-control" id="inputDocuwareURI" placeholder="http://www.exemple.com/docuware/platform" name="docuwareURI" />
        </div>
        @*<label class="col-md-3 invalid-feedback">URL non Valide</label>*@
    </div>
    <div class="mb-3 row justify-content-center" id="userLogin">
        <label class="col-md-3 control-label">Login DocuWare :</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="inputUserLogin" placeholder="Login" name="userLogin" />
        </div>
    </div>
    <div class="mb-3 row justify-content-center" id="userPassword">
        <label class="col-md-3 control-label">Mot de Passe :</label>
        <div class="col-md-6">
            <input type="password" class="form-control" id="inputUserPassword" placeholder="Mot de Passe" name="userPassword" />
        </div>
    </div>
    <div class="mb-3 row justify-content-center" id="connectionFeedBack">
        <div class="col-md-1">
            <button class="btn btn-primary" type="button" onclick="checkconnection()">Connexion</button>
        </div>
        <div class="align-middle col-md-8">
            @if (@Context.Session.GetString("isConnected") == "true")
            {
                <p id="labelFeedBack" class="text-success">Vous êtes connecté !</p>
            }
            else
            {
                <p id="labelFeedBack" class="text-danger">Identifiants de connection incorrects !</p>
            }
        </div>
    </div>
    <script>
        function checkconnection() {
            $.post("@Url.Action("_LoginPartial", "Home")",
                {
                    docuwareURI: $('#inputDocuwareURI').val(),
                    userLogin: $('#inputUserLogin').val(),
                    userPassword: $('#inputUserPassword').val()
                },function (data) {
                    $('#connectionDiv').html(data);
                    if (data.startsWith("<!--Connected-->")) {
                        $.post("@Url.Action("_FormPartial", "Home")",
                            function (data) {
                                $('#formDiv').html(data);
                            }
                        );
                    }
                    else {
                        $('#formDiv').html("");
                    }
                });
        }
    </script>
