
@{
    ViewData["Title"] = "Extraction";
}

<h2>Extraction</h2>

<div class="container">
    <partial name="~/Views/Home/_LoginPartial.cshtml" />
    <hr />
    @*<partial name="~/Views/Home/_FormPartial.cshtml" />*@
    <div id="formDiv"></div>
</div>


